# Tessera Runtime Storage Exclusions
storage/
sync_watch/
*.part
*.dat

# Python System Caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
env/

# Operating System Discards
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Local App Configurations & IDEs
.vscode/
.idea/
instance/
.web_session_cache/